@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@layer base {
  * {
    font-family: 'Space Mono', monospace;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 font-bold bg-very-dark-cyan text-white rounded-md transition  ease-in duration-150 active:bg-light-grayish-cyan-200 active:text-very-dark-cyan;
  }

  .btn-secondary {
    @apply py-2 font-bold bg-light-grayish-cyan-100 text-dark-grayish-cyan-200 rounded-md;
  }
}